h1 {
    font-weight: bold;
    margin: 0;
}

p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 100px;
    letter-spacing: 0.5px;
    margin: 20px 0px 30px;
}
span{
    font-size: 12px;
}

a{
  font-size: 14px;
  margin: 15px 0px;
  text-decoration: none;
  color: #333;  
}
button{
    border-radius: 20px;
    border: 1px solid #ff4b2b;
    background: #ff4b2b;
    color: #fff;
    font-size: 12px;
    font-weight:bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80s ease-in;
}
button:active{
    transform: scale(0.95);
}
button:focus{
    outline:none;
}
button.ghost{
    background-color:transparent;
    border-color: #fff; 
}
form{
    background-color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}
input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}
.social-container{
    margin: 20px 0;
}
.social-container a {
    border: 1px solid #dddddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 1px;
    height: 40px;
    width: 40px;
}